{% extends 'index.html' %}

{% block content %}
<h2 class="text-center my-2">This is a SignIn Page</h2>

<form action="/create/" method="POST" class="w-50 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">title</label>
      <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Desciption</label>
      <textarea  name="description" class="form-control" id="exampleInputPassword1"> </textarea>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock  %}